<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ADDITIONAL META TAGS -->
    <meta name="author" content="Sanjarbek Saminjonov">
    <meta name="keywords" content="Some keywords here that belong to your web-page">
    <meta name="description" content="About your web-page">

    <!-- ICON -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- TITLE -->
    <title>CUSTOM TITLE</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/canteen.css">
</head>
<body>
<!-- MAIN CONTENT -->
<main class="main-content">
    <div class="container main-content__container">
        <form class="search-group">
            <input type="text" id="search" autocomplete="False" placeholder="Qidirish uchun yozing . . . ">
            <button type="submit">
                <img src="images/search-icon.png" width="30" height="30">
            </button>
        </form>

        <h3 class="main-title">
            Siz uchun tavsiyalar
        </h3>
    </div>

    <ul class="cards">
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
    </ul>

    <div class="container main-content__container">
        <h3 class="main-title">
            Qidirish uchun filtrdan foydalaning
        </h3>

        <div class="search-group">
            <img class="search-bar" src="images/search-bar.png" alt="search bar">
        </div>
    </div>

    <ul class="cards cards2">
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
        <li class="card card__border">
            <div class="card__header">
                <h3 class="card__title">
                    Rayhon Milliy Taomlar
                </h3>
            </div>
            <div class="card__image">
                <img src="images/canteen-card-image.png" alt="Canteen Meal" width="279" height="177">
            </div>
            <div class="card__body">
                <div class="location">
                    <img src="images/location-icon.png">
                    <h3 class="card__title margin-left-10">
                        O’zbekiston, Farg’ona
                    </h3>
                </div>
                <p class="card__canteen__rate">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                    <img src="images/star-icon.svg" width="20" height="20">
                </p>
            </div>
            <div class="card__button">
                <a href="#" class="main-button">Batafsil</a>
            </div>
        </li>
    </ul>
</main>

<!-- SCRIPT -->
<script src="js/slider.js"></script>
</body>
</html>