{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ADDITIONAL META TAGS -->
    <meta name="author" content="Sanjarbek Saminjonov">
    <meta name="keywords" content="Some keywords here that belong to your web-page">
    <meta name="description" content="About your web-page">


    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- TITLE -->
    <title>CUSTOM TITLE</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'mobile/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'mobile/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mobile/css/home.css' %}">
</head>

<body>

<!-- MAIN CONTENT -->
<main class="main-content">
    <div class="container main-content__container">
        <h2 class="main-title">
            BIZ BILAN NIMALARGA ERISHASIZ?
        </h2>
        <div class="menu-cards">
            <a class="menu-card flat-card" href="{% url 'mobile_flat_home' %}">
                <img class="menu-card__images" src="{% static 'mobile/images/flat-image.png' %}" alt="House image" width="70" height="70">
                <div class="menu-card__content">
                    <h3 class="menu-card__title">
                        Ijara uylar
                    </h3>
                    <p class="menu-card__description">
                        MUSOFIRLAR.UZ yordamida o'zingiz uchun qulay va serdaromad ish topishingiz mumkin!
                    </p>
                </div>
            </a>
            <a class="menu-card work-card" href="{% url 'mobile_work_home' %}">
                <img class="menu-card__images" src="{% static 'mobile/images/work-image.png' %}" alt="House image" width="70" height="70">
                <div class="menu-card__content">
                    <h3 class="menu-card__title">
                        Ish topish
                    </h3>
                    <p class="menu-card__description">
                        MUSOFIR.BIZ yordamida o'zingiz uchun qulay va serdaromad ish topishingiz mumkin!
                    </p>
                </div>
            </a>
            <a class="menu-card canteen-card" href="{% url 'mobile_canteen' %}">
                <img class="menu-card__images" src="{% static 'mobile/images/canteen-image.png' %}" alt="House image" width="70"
                     height="70">
                <div class="menu-card__content">
                    <h3 class="menu-card__title">
                        Milliy taomlar
                    </h3>
                    <p class="menu-card__description">
                        MUSOFIR.BIZ yordamida O'zbek oshxonasining milliy taomlari qaysi oshxona yoki restoranda
                        tayyorlanishini topishingiz mumkin!
                    </p>
                </div>
            </a>
            <a class="menu-card embassy-card" href="{% url 'mobile_embassy_home' %}">
                <img class="menu-card__images" src="{% static 'mobile/images/embassy-image.png' %}" alt="House image" width="70"
                     height="70">
                <div class="menu-card__content">
                    <h3 class="menu-card__title">
                        Elchixonalar
                    </h3>
                    <p class="menu-card__description">
                        MUSOFIR.BIZ yordamida o'zingiz uchun eng yaqin elchixona va konsulxonalarni topishingiz
                        mumkin!
                    </p>
                </div>
            </a>
        </div>
    </div>
</main> <!-- /MAIN CONTENT -->

</body>

</html>
